.cta-title {
  font-size: 2.5rem;
  color: green;
}

.cta-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.cta-button {
  background-color: green;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.cta-button:hover {
  background-color: rgba(1, 158, 1, 0.991);
}

.info-text-section {
  background-color: rgb(232, 229, 229);
}

.info-title {
  font-size: 2rem;
  font-weight: 500;
}

.info-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.form-title {
  font-size: 2rem;
}

.form-field > label {
  font-weight: 600;
}

.form-button {
  background-color: green;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  border: 0px;
  cursor: pointer;
}

.error-message {
  color: red;
}

.form-button:hover {
  background-color: rgba(1, 158, 1, 0.991);
}

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: rgb(227, 231, 217);
  border: 15px solid;
  border-color: rgb(3, 149, 73);
}

.modal-img-wrapper {
  background-color: rgb(139, 204, 170);
}

.modal-response > h2 {
  font-size: 2rem;
}

.modal-response > p {
  font-size: 1.25rem;
}

.modal-button {
  cursor: pointer;
  background-color: rgb(3, 149, 73);
  color: white;
  font-size: 1.05rem;
}

.modal-button:hover {
  background-color: rgba(1, 158, 1, 0.991);
}
